@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); 

body{ 
    font-family: "Montserrat", sans-serif; 
    background-color: #4293b8; 
    padding: 20px; 
} 

.div-padrao{ 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 15px; 
} 